.title{
    font-family: 'Times New Roman';
    font-weight: 900;
    font-size: large;
    margin-bottom: 1rem;
    text-align: center
}

.subtitle{
    font-family: 'Times New Roman';
    font-weight: 900;
    font-size: large;
    margin-bottom: 1rem;
}

.body{
    font-family: 'Times New Roman';
    font-weight: 450;
    font-size: medium;
}

.header{
    font-family: 'Times New Roman';
    font-weight: 900;
}

.experience-item{
    max-width: 35rem;
}